<%- include('../partials/header') %>

<main>
	<h1>Your plants</h1>
	<div class="container-md row justify-content-center">
		<% plants.forEach((p) => { %>
			<a id="details" href="/plants/<%= p._id %>">
				<div class="plant-index">
					<% if (p.data) { %>
						<img class="img" src="data:image/<%=p.contentType%>;base64,
							<%=p.data.toString('base64')%>"  width="160" height="120">
					<% } %>
				<p class="plant-name"><%= p.name %> </p>
				</div>
			</a>
		<% }) %>
	</div>
</main>
<%- include('../partials/footer') %>
