<%- include('../partials/header') %>
	<main>
		<h1>
			<%= plant.name %>
		</h1>
		<div>
			<% if (plant.data) { %>
				 <img class="img" src="data:image/<%=plant.contentType%>;base64,
					  <%=plant.data.toString('base64')%>"  width="320" height="240">
			<% } %>
		 </div>
		<div class="container row row-cols-2">
			<div class="col">
				<div>
					<div class="headline">Name:</div>
					<%= plant.name %>
				</div>
				<div>
					<div class="headline">Watering preferences:</div>
					<%= plant.water %>
				</div>
				<div>
					<div class="headline">Light preferences:</div>
					<%= plant.light %>
				</div>
				<div>
					<div class="headline">Date bought:</div>
					<%= plant.bought.toGMTString().split(' ').slice(0, 4).join(' ') %>
				</div>
				<div>
					<div class="headline">Last repot:</div> <%= plant.repot.toGMTString().split(' ').slice(0, 4).join(' ') %>
				</div>
				<br><br>
				<div>
					<form id="update-repot" method="post" action="/plants/<%= plant._id %>">
						<label class="headline">Update repot date:</label><br>
						<input type="date" name="repot"><br>
						<button type="submit" class="btn btn-success" value="Update">Update</button>
					</form>
				</div>
			</div>

			<br><br>
			<div class="col comments">
				<h3 class="headline">Comments</h3>
				<% if (plant.comments.length) { %> 
					<table>
						<tbody class=>
							<% plant.comments.forEach((p) => { %>
								<tr>
									<td> <%= p.createdAt.toLocaleDateString() %>:</td>
									<td> <%= p.content %> </td>
								</tr>
							<% }) %> 
						</tbody>
					</table>
					<% } else { %>
						<h5>No Comments Yet</h5>
				<% } %>
				<br>
				<h3 class="add-comment headline">Add a new comment</h3>
				<form id="add-comments-form" method="post" action="/plants/<%= plant._id %>/comments">
					<label>Comment:</label><br>
					<textarea name="content"></textarea><br>
					<button type="submit" class="btn btn-success" value="Add comment">Add comment</button>
				</form>
			</div>
	</div>
	<br><br>
	<% if (userName === plant.userName) { %> 
		<form action="/plants/<%= plant._id %>?_method=DELETE" method="POST">
		<button type="submit" class="btn btn-danger">Remove plant from database</button>
		</form>
	<% } %>
	<br><br>
	</div> 

</main>
<%- include('../partials/footer') %>