<%- include('../partials/header') %>

<h1>Plant details</h1>

<div>
	Name: <%= plant.name %>
</div>
<div>
	Watering preferences: <%= plant.water %>
</div>
<div>
	Light preferences: <%= plant.light %>
</div>
<div>
	Date bought: <%= plant.bought %>
</div>
<div>
	Last repot: <%= plant.repot %>
</div>

<%- include('../partials/footer') %>